<% short_url = @link.out_url %>

<div class="alert fade in">
            <a class="close" data-dismiss="alert" href="#">×</a>
						<%= notice %>
            <strong>Mama mia!</strong> You just shortened a URL :)
          </div>
<div class="hero-unit", style="text-align:center">
	<div style="margin-top: -25px"><h2>Your shortened link: </h2></div>
	<h2><a href=<%= "http://localhost:3000/" << @link.out_url %>><%= "http://localhost:3000/" << @link.out_url %></a></h2>
	<%= link_to 'Edit', edit_link_path(@link), :class => "btn", :style => "float:right; margin-right:-50px" %> 
	</div>

<table class="table table-bordered table-striped">
<tr>
  <th>Long Link</th>
  <th>Shortened Link</th>
  <th>Clicks</th>
</tr>

<tr>
	<td><%= @link.in_url %></td>
  <td><%= @link.out_url %></td>
	<td><%= @link.counter %></td>
	
</table>


<%= link_to 'Back', links_path, :class => "btn" %>

