<div  class= "well"style="text-align:center">

<h2>Welcome back!</h2>
<br />
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :placeholder => "Email" %></div>

  <div>
  <%= f.password_field :password, :placeholder => "Password" %></div>

	<div><% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me, :style=>"margin-left:-210px; margin-bottom:-30px" %> <%= f.label :remember_me, :style=>"margin-left:-85px;" %>
  <% end -%></div>
	<div><%= f.submit "Sign in" , :class => "btn-primary", :style=>"margin-left:165px"  %></div>

	
<% end %>

<%= render "links" %>

</div>